{#{% extends 'mail.html.twig' %}#}

{#{% block body %}#}

{#    <p>Sign Up confirm link:</p>#}

{#    {% set url = url('auth.signup.confirm', {'token': token}) %}#}

{#    <p><a href="{{ url }}">{{ url }}</a></p>#}

{#{% endblock %}#}
{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <p>Sign Up confirm link:</p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    {% set url = url('auth.signup.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
