{% extends 'base.html.twig' %}

{% block title %}New VictoriousPuppy{% endblock %}

{% block body %}
    <h1>Create new VictoriousPuppy</h1>

    {{ include('victorious_puppy/_form.html.twig') }}

    <a href="{{ path('app_victorious_puppy_index') }}">back to list</a>
{% endblock %}
